h1{
    color: darkblue;
}
body{
  background-image: url('../../assets/BYO_Large_1684x1114.jpg');
}
.bg-1{
    background-image: url('../../assets/BYO_Large_1684x1114.jpg');
    height: 700px;
    width:1361px; 
    padding-bottom: 0;
    background-size: cover;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
  
    background-color: #272727;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    
    opacity: 85%;
    font-weight: bold;
    height: 65px;
    z-index: 2;
  }
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration:none;
  }
  
  li a:hover:not(.active) {
    opacity: 50%;
    text-decoration: underline;
  }
  
  .active {
     text-decoration: underline;
  }

 .rect-1{
     background-color: #272727;
     height: 175px;
     width: auto;
     margin-top:-12px;
 }
 .grad{
  background: linear-gradient(to right,#000000,#FFFFFF);
  height: 700px;
    width:1361px; 
  z-index: 1;
  opacity: 20%;
 }
 
 .rect{
  height: 446px;
  width: 348px;
   background-color:#272727 ;
   opacity: 85%;
   z-index: 2;
   color: rgb(255, 255, 255);
   float: left;
   margin-top: 99px;
   margin-left: 910px;
 }