<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
    </head>
    <body> 
      <div class="bg-1">
      
         
        <ul>
            <li><a class="active" href="#Home">Home</a></li>
            <li><a style="float: inline-end;" href="#news">Menu</a></li>
            <li><a href="#contact">Hot Deals</a></li>
            <li><a href="#contact">Order Online </a></li>
            <li><a style="float:right;" href="#contact">Contact Us</a></li>
          </ul>

        <div class="rect">
          <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size: 40px;font-style:bold;margin-top: 3px;
          margin-left: 12px;">Fresh Ingredients.
            Friendly Service.</p>
            <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size: 23px;font-style:bold;margin-top: -25px;
            margin-left: 12px;text-decoration: underline;">
            That's our way in Pizza Italiano </p>
        </div>
       
      </div>
        <div class="rect-1"></div>
    </body>


  </html>
