<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        <div class="bg-1">
        <ul>
            <li><a class="active" href="#Home">Home</a></li>
            <li><a style="float: inline-end;" href="#news">Menu</a></li>
            <li><a href="#contact">Hot Deals</a></li>
            <li><a href="#contact">Order Online </a></li>
            <li><a style="float:right;" href="#contact">Contact Us</a></li>
          </ul>
          
        </div>
        <div class="rect-1"></div>
    </body>


  </html>
